<div id="<%= dom_id statement %>">
  <p>
    <strong>Wallet:</strong>
    <%= statement.wallet_id %>
  </p>

  <p>
    <strong>Closed:</strong>
    <%= statement.closed %>
  </p>

  <p>
    <strong>Closing value:</strong>
    <%= statement.closing_value %>
  </p>

  <p>
    <strong>Closing reference:</strong>
    <%= statement.closing_reference %>
  </p>

</div>
