<div id="<%= dom_id transition %>">
  <p>
    <strong>Name:</strong>
    <%= transition.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transition.value %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= transition.display_name %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= transition.origin_id %>
  </p>

</div>
