<p style="color: green"><%= notice %></p>

<%= render @bank_transition %>

<div>
  <%= link_to "Edit this transition", edit_bank_transition_path(@bank_transition) %> |
  <%= link_to "Back to transitions", bank_transitions_path %>

  <%= button_to "Destroy this transition", @bank_transition, method: :delete %>
</div>
