<tr id="<%= dom_id transaction %>">
  <td scope="row"><%= transaction.name %></th>
  <td scope="row"><%= transaction.value %></th>
  <td scope="row"><%= transaction.display_name %></th>
  <td scope="row"><%= transaction.tags %></th>
</tr>
<%
=begin%>

<div id="<%= dom_id transaction %>">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= transaction.display_name %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= transaction.tags %>
  </p>

</div>
<%
=end%>
