<div id="<%= dom_id variable_income %>">
  <p>
    <strong>Mode:</strong>
    <%= variable_income.mode %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= variable_income.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= variable_income.value %>
  </p>

  <p>
    <strong>Trade date:</strong>
    <%= variable_income.trade_date %>
  </p>

</div>
