<%= simple_form_for bank_account do |f| %>
<% if bank_account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
        <% bank_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
  <%= f.association :wallet, label: t('wallet'), collection: @wallets, selected: (@wallet.id rescue nil) %>
  <%= f.input :name, label: t('name') %>
  <%= f.input :balance, label: t('initial_balance') %>
  <%= f.input :description, label: t('description'), as: :text %>
  <%= f.button :submit, t('save_account'), class: 'btn-primary' %>
<% end %>
